apiVersion: v1alpha1
kind: Setting
metadata:
  name: plugin-timeFactor-settings
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $el: a
          attrs:
            href: "https://docs.lik.cc"
            class: "py-4 block"
            target: "_blank"
            style:
              color: "#1890ff"
              fontSize: "0.875em"
              display: "flex"
              align-items: "center"
          children:
            - $el: span
              children: "查看 时间因子 帮助文档"
            - $el: img
              attrs:
                src: "/plugins/time-factor/assets/static/img/link.svg"
                width: "14px"
                height: "14px"
                style:
                  margin-left: "4px"
        - $el: span
          children: "Halo交流群"
        - $el: img
          attrs:
            src: "https://www.lik.cc/upload/iShot_2025-03-03_16.03.00.png"
            width: "100px"
            height: "120px"
            style:
              margin-left: "80px"
        - $formkit: checkbox
          label: 启用 canonical 链接
          name: enableCanonicalLink
          id: enableCanonicalLink
          key: enableCanonicalLink
          value: true
          help: "帮助搜索引擎识别内容的唯一地址，避免重复内容的 SEO 问题"
        - $formkit: checkbox
          if: "$enableCanonicalLink === true"
          label: 启用 alternate 链接
          name: enableAlternateLink
          id: enableAlternateLink
          key: enableAlternateLink
          value: false
          help: "为多语言网站提供内容的替代版本，提升国际化 SEO"
        - $formkit: array
          if: "$enableAlternateLink === true"
          label: 语言版本设置
          name: alternateLinks
          id: alternateLinks
          key: alternateLinks
          help: "为不同语言版本的内容添加 alternate 链接"
          children:
            - $formkit: text
              label: 语言代码
              name: langCode
              id: langCode
              key: langCode
              help: "例如：zh-cn、en、fr、de、x-default 等"
            - $formkit: text
              label: URL 地址模板
              name: urlTemplate
              id: urlTemplate
              key: urlTemplate
              value: "%URL%"
              help: "对应语言版本的完整 URL 地址；支持 %URL% 变量，代表当前内容的 URL"
        - $formkit: checkbox
          label: 启用百度时间因子
          name: enableBaiduTimeFactor
          id: enableBaiduTimeFactor
          key: enableBaiduTimeFactor
          value: true
          help: "百度搜索引擎系列时间因子"
        - $formkit: checkbox
          label: 启用 OG 时间因子
          name: enableOGTimeFactor
          id: enableOGTimeFactor
          key: enableOGTimeFactor
          value: true
          help: "主流搜索引擎系列时间因子"
        - $formkit: checkbox
          label: 启用 Meta 时间因子
          name: enableMetaTimeFactor
          id: enableMetaTimeFactor
          key: enableMetaTimeFactor
          value: true
          help: "头条等搜索引擎系列时间因子"
        - $formkit: checkbox
          label: 启用结构化数据
          name: enableStructuredData
          id: enableStructuredData
          key: enableStructuredData
          value: true
          help: "谷歌、Bing 等搜索引擎获取内容信息的方式"
        - $formkit: attachment
          label: 默认封面图
          name: defaultImage
          id: defaultImage
          key: defaultImage
          help: "当没有设置封面图时使用"